---
layout: default
---

  <section>
    <header class="major">
      <h2>
        {{ site.data.intro.title }}
      </h2>
    </header>
    <p>
      {{ site.data.intro.description }}
    </p>
    <ul class="actions">
      {% for link in site.data.intro.links %}
      <li><a href="{{link.url}}" class="button">{{link.text}}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <header class="major">
      <h2 style="font-size: 2em; margin-bottom: 20px">Minha publicações mais recentes</h2>
    </header>
    <div class="row">
      {% for post in site.posts limit: 6 %}
      <article class="{% cycle '6u', '6u$' %} 12u(small)">
        <header>
          <h2>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
        </header>
        <section>
          <img class="fit image" src="/images/posts/{{post.image_thumb}}" />
          {{ post.excerpt }}
        </section>
        <footer>
          <ul class="actions">
            <li><a href="{{ post.url }}" class="button">Ler mais</a></li>
          </ul>
        </footer>
      </article>
      {% endfor %}
    </div>

    <footer>
      <a href="/all-posts">Ver todas as publicações</a>
    </footer>
    
  </section>
